/*
    Author: Gautier Rouleau
*/

/*
Palette de couleur

Carissma: #ED7D94
Illusion: #F7B2C3
Alto: #D7D7D7
Roman: #D9515D
Mako: #414247
*/

body{
    width: 100%;
}
.calculator {
    padding: 3rem;
    border: solid 2px black;
    border-radius: 20px;
}

.calculator input{
    width: 100%;
    font-size: 3rem;
}

.tile {
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 1rem;
    color: #D7D7D7;
    font-size: 30px;
    background-color: #414247;
    display: inline-block;
}
